

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'kanit', sans-serif;
  color: #556270;
}

a {
  text-decoration: none;
  color: #2421D2;
}

a:hover {
  color: #1a17b6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'kanit', sans-serif;
}
h2{
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 15px;
}
span{
  color: #08D1FE;
}
@media (max-width: 991px) {
  h2{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) {
  .containers {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .containers {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .containers {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .containers {
    max-width: 1240px;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  
  .containers {
    max-width: 1395px;
    width: 100%;
  }
  .containers {
    max-width: 1680px;
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2421D2;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #1a17b6;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: transparent;
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0 0;
}
#header.header-scrolled {
  background: white;
  transition: all 0.5s;
  box-shadow: 0px 2px 15px rgba(0, 102, 255, 0.1);
  padding: 10px 0 10px;
}
#header.header-inner-pages {
  box-shadow: 0px 2px 15px rgba(0, 102, 255, 0.1);
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  
}
#header .logo a {
  color: #556270;
}
#header .logo img {
  max-height: 80px;
  transition: all 0.5s ease-in-out !important;
}
@media (max-width: 1200px) {
  #header {
    background: transparent;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0 0;
  }
  #header .logo img {
    max-height: 70px;
    transition: all 0.5s ease-in-out !important;
  }
}

@media (max-width: 575px) {
  #header .logo img {
    max-height: 45px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-family: 'kanit', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.header-scrolled .navbar a, .navbar a:focus {
  color: #556270;
}
.navbar .nav-link:focus,.navbar .nav-link:hover{
  color: #acacac;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}
.header-scrolled .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a{
  color: #acacac;
}
.header-scrolled .navbar .getstarted, .navbar .getstarted:focus {
  color: #fff;
  background: #2421D2;
  border: 1px solid #2421D2;
  transition: all 0.3s ease-in-out;
}
.header-scrolled .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #1a17b6;
  border: 1px solid #1a17b6;
  transition: all 0.3s ease-in-out;
}
.header-scrolled .logo img {
  max-height: 50px !important;
  transition: all 0.5s ease-in-out !important;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: transparent;
  border: 1px solid #fff;
  padding: 4px 15px;
  margin-left: 25px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  max-width: 52px;
  transition: all 0.3s ease-in-out;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  border: 1px solid #1a17b6;
  background: #1a17b6;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #2421D2;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.m-35{
  margin-left: 35px;
}
.p-r{
  padding-right: 40px;
}
@media (max-width: 575px) {
  .m-35{
    margin-left: 0;
  }
  .p-r{
    padding-right: 0;
  }
  .header-scrolled .logo img {
    max-height: 45px !important;
    transition: all 0.5s ease-in-out !important;
  }
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.header-scrolled .mobile-nav-toggle {
  color: #2421D2 !important;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(63, 73, 83, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.5s;
  border-radius: 5px;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #556270;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #2421D2;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #fff;
  background-color: #2421D2;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #2421D2;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background-color: rgba(37, 55, 83, 0.8);
  overflow: hidden;
  position: relative;
}
#banner:before {
  content: "";
  background: rgba(30, 38, 51, 0.25);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 40vh;
  z-index: 1;
}
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.0);
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}
#hero .container {
  text-align: left;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}
#hero .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 3rem;
  margin-left: 15%;
  list-style: none;
}
#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}
#hero .carousel-indicators li.active {
  opacity: 1;
  background: #fff;
}
#hero .btn-get-started {
  font-family: 'kanit', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: transparent;
  border: 1px solid #fff;
}
#hero .btn-get-started:hover {
  border: 1px solid #2421D2;
  background: #2421D2;
  color: #fff;
}
#hero .slide-1{
  background: url(../img/slide/slide-1.jpg);
  background-size: cover;
  background-position: center center !important;
}
#hero .slide-2{
  background: url(../img/slide/slide-2.jpg);
}
#hero .slide-3{
  background: url(../img/slide/slide-3.jpg);
}
#hero h2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}
#hero h4 {
  color: #fff;
  margin-bottom: 0px;
  font-size: 26px;
  font-weight: 400;
}
#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 15px auto 40px auto;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 1600px) {
  #hero h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  #hero h4 {
    color: #fff;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 400;
  }
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 12px auto 40px auto;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  #hero {
    height: 80vh;
  }
  #hero .carousel-container {
    top: 8px;
  }
  #hero .slide-1{
    background: url(../img/slide/slide-1.jpg);
    background-position: 80% 50% !important;background-size: cover;
  }
  #hero .slide-2{
    background: url(../img/slide/slide-2.jpg);
    background-position: 70% 30% !important;
    background-size: cover;
  }
  #hero .slide-3{
    background: url(../img/slide/slide-3.jpg);
    background-position: 65% 50% !important;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 42px;
  }
  #hero .btn-get-started {
    font-family: 'kanit', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 14px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: transparent;
    border: 2px solid #fff;
  }
  
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
  
}
@media (max-width: 575px) {
  #hero .slide-1{
    background: url(../img/slide/slide-1.jpg);
    background-position: 88% 50% !important;
    background-size: cover;
  }
  #hero .slide-2{
    background: url(../img/slide/slide-2.jpg);
    background-position: 75% 30% !important;
    background-size: cover;
  }
  #hero .slide-3{
    background: url(../img/slide/slide-3.jpg);
    background-position: 70% 50% !important;
  }
  #hero h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
  }
  .txt-cen{
    display: block !important;
    max-width: 170px;
    text-align: center;
    margin: auto;
  }
  #hero h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 12px auto 40px auto;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
  }
  .carousel-control-prev,.carousel-control-next{
    display: none;
  }
}
@media (max-width: 375px) {
  #hero h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
  }
  #hero h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 12px auto 40px auto;
    font-size: 17px;
    color: #fff;
    text-align: center;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 80vh;
  }
}
  .img-icon{
    background-color: #6585DE;
    height: 100%;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .im-icon2{
    background-color: #DFE1F1;
    padding: 15px;
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin: auto auto 15px;
  }
  .img-icon2{
    max-width: 50px;
  }
  .min-h{
    min-height: 140px;
  }
  @media (max-width: 991px) {
    .min-h{
      min-height: 180px;
    }
  }
  @media (max-width: 768px) {
    .min-h{
      min-height: 130px;
    }
    .img-icon{
      background-color: #6585DE;
      height: 100%;
      padding: 15px;
      border-radius: 50%;
      margin-bottom: 15px;
      max-width: 80px;
    }
    .im-icon2{
      max-width: 80px;
      background-color: #DFE1F1;
      padding: 15px;
      border-radius: 50%;
      max-height: 80px;
      display: block;
      margin: auto auto 15px;
    }
    .img-icon2{
      max-width: 50px;
    }
  }
  @media (max-width: 575px) {
    .min-h{
      min-height: 80px;
    }
    .img-icon{
      background-color: #6585DE;
      height: 100%;
      padding: 15px;
      border-radius: 50%;
      margin-bottom: 15px;
      max-width: 70px;
      max-height: 70px;
    }
  }
  @media (min-width: 992px){
    .img-1 {
        left: -10%;
    }
  } 
  .img-1 {
    position: absolute;
    left: -40px;
    top: -75px;
    z-index: -1;
    width: 100%;
    max-width: 200px;
  }
  .img-2 {
    position: absolute;
    right: -40px;
    top: -75px;
    z-index: -1;
    width: 100%;
    max-width: 200px;
  }
  @media (max-width: 768px) {
    .img-1 {
      position: absolute;
      left: -27px;
      top: -55px;
      z-index: -1;
      width: 100%;
      max-width: 150px;
    } 
    .img-2 {
      position: absolute;
      right: -3px;
      top: -55px;
      z-index: -1;
      width: 100%;
      max-width: 150px;
    }
  }
  @media (max-width: 425px) {
    .img-1 {
      position: absolute;
      left: -27px;
      top: -35px;
      z-index: -1;
      width: 100%;
      max-width: 150px;
    } 
    .img-2 {
      position: absolute;
      right: -3px;
      top: -35px;
      z-index: -1;
      width: 100%;
      max-width: 150px;
    }
  }
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}
.section-regis {
  padding: 100px 0;
  overflow: hidden;
}
.h-1{
  font-size: 36px; 
  font-weight: 400;
  color: #fff;
}

@media (max-width: 768px) {
  section {
    padding: 80px 0;
    overflow: hidden;
  }
  .section-regis {
    padding: 80px 0;
    overflow: hidden;
  }
  .h-1{
    font-size: 32px; 
    font-weight: 400;
    color: #fff;
  }
}
@media (max-width: 575px) {
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  .section-regis {
    padding: 40px 0;
    overflow: hidden;
  }
  .h-1{
    font-size: 28px; 
    font-weight: 400;
    color: #fff;
  }
}

.section-bg, .services .icon-box {
  background-color: transparent;
}
#services-1{
  padding: 0;
  background-image: url('../img/session-4.jpg'); 
  background-size: cover;
  background-position-Y: center;
  height: 60vh;
}
#about-1{
  padding: 0;
  background-image: url('../img/session-9.jpg'); 
  background-size: cover;
  background-position-Y: center;
  height: 50vh;
}
@media (max-width: 575px) {
  #services-1{
    padding: 0;
    background-image: url('../img/session-4.jpg'); 
    background-size: cover;
    background-position-Y: center;
    background-position-x: center;
    height: 40vh;
  }
  #about-1{
    padding: 0;
    background-image: url('../img/session-9.jpg'); 
    background-size: cover;
    background-position-Y: center;
    background-position-x: center;
    height: 40vh;
  }
}
.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 600;
  padding: 0;
  line-height: 1.3;
  margin: 0 0 0 0;
  letter-spacing: 1px;
  color: #2421D2;
  font-family: 'kanit', sans-serif;
}
@media (max-width: 991px) {
  .section-title h2 {
    font-size: 28px;
  }
}

/* .section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #e6636a;
  margin: 4px 10px;
} */
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  
  font-family: 'kanit', sans-serif;
  color: #556270;
}
.address{
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #eaf1fd;
}
.email{
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #eaf1fd;
}
.phone{
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #eaf1fd;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 18px 0;
  background: #f8f9fa;
  min-height: 40px;
  margin-top: 80px;
}
.breadcrumbs h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6b7b8d;
  content: "/";
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs h2 {
    margin-bottom: 10px;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.about .content h3 {
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}
.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #2421D2;
}
.about .content p{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}
.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}
.clients img:hover {
  filter: none;
  transform: scale(1.15);
}
.ml-35{
  margin-left: 35px;
}
.mr-35{
  margin-right: 35px;
}
.fs-pff{
  font-size: 34px !important;
  letter-spacing: 0px !important;
}
@media (max-width: 991px) {
  .fs-pff{
    font-size: 28px !important;
    letter-spacing: 0px !important;
  }
  .about .content h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
  .ml-35{
    margin-left: 0;
  }
  .mr-35{
    margin-right: 0;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  /* padding: 30px; */
  /* border-radius: 6px; */
}
.services .icon-box i {
  float: left;
  color: #2421D2;
  font-size: 40px;
}
.services .icon-box h4 {
  /* margin-left: 70px; */
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 20px;
  color: #2421D2;
}
.services .icon-box h4 a {
  color: #556270;
  transition: 0.3s;
}
.services .icon-box p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.ser p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.services .icon-box:hover h4 a {
  color: #2421D2;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  
  color: #556270;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #2421D2;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(85, 98, 112, 0.6);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(85, 98, 112, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  
  padding: 0;
  margin: 0;
  font-style: italic;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: white;
}
.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2421D2;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2421D2;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(85, 98, 112, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
  padding: 30px;
  border-radius: 4px;
  background: white;
}
.team .member .pic {
  overflow: hidden;
  width: 140px;
  border-radius: 4px;
}
.team .member .pic img {
  transition: ease-in-out 0.3s;
}
.team .member:hover img {
  transform: scale(1.1);
}
.team .member .member-info {
  padding-left: 30px;
}
.team .member h4 {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
  color: #556270;
}
.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 400;
}
.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #dee2e6;
  bottom: 0;
  left: 0;
}
.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #8795a4;
}
.team .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}
.team .member .social a:hover {
  background: #2421D2;
}
.team .member .social a + a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  
  display: block;
  font-weight: 600;
  font-family: 'kanit', sans-serif;
  color: #556270;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #edeff1;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #6b7b8d;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  overflow: hidden;
}
.ma-mb{
  margin: 0 0 80px;
}
.features h2{
  color: #2421D2;
}
.features .nav-tabs {
  border: 0;
}
.features .nav-link {
  border: 0;
  padding: 15px;
  transition: 0.4s;
  color: #6585DE;
  border-radius: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}
.features .nav-link:hover {
  color: #2421D2;
  padding: 15px 20px;
  transition: all 0.4s ease-in-out;
}
.features .nav-link.active {
  color: #fff;
  background-color: #2421D2;
  transition: all 0.4s ease-in-out;
  padding: 15px;
}
@-webkit-keyframes fadeIn1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.features .tab-pane.active {
  -webkit-animation: fadeIn1 1s ease-out;
  animation: fadeIn1 1s ease-out;
}
.features .details h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2421D2;
}
.features p{
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.features .details h3::before {
  border: 2px solid #2421D2;
  border-radius: 50px;
  content: " ";
  margin-right: 1.5rem;
}
.features .details p:last-child {
  margin-bottom: 0;
}
.img-process{
  width: 100%;
  max-width: 265px;
}
.contact p {
  margin-bottom: 0;
  font-size: 18px;
  color: #556270;
  font-weight: 300;
}
.m-sp{
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.m-spc{
  padding-left: 100px !important;
  padding-right: 100px !important;
}
@media (max-width: 1600px){
  .m-sp{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .m-spc{
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
@media (max-width: 1200px){
  .m-sp{
    padding-left:20px !important;
    padding-right:20px !important;
    justify-content: center !important;
  }
  .m-spc{
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}
@media (max-width: 991px){
  .m-sp{
    padding-left:20 !important;
    padding-right:20 !important;
    justify-content: center !important;
  }
  .m-spc{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media (max-width: 768px){
  .m-sp{
    padding-left:20 !important;
    padding-right:20 !important;
    justify-content: center !important;
  }
  .m-spc{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
@media (max-width: 575px){
  .m-spc{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 992px){
  .col-lg-65 {
      flex: 0 0 auto;
      width: 56.33333333%;
  }
}
@media (max-width: 992px) {
  .features .nav-link {
    padding: 15px;
  }
  .features .nav-link.active {
    color: #fff;
    background: #2421D2;
  }
  .ma-mb{
    margin: 0 0 60px;
  }
}
@media (max-width: 992px) {
  .img-process{
    width: 100%;
    max-width: 220px;
    margin-bottom: 15px !important;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #2421D2;
  font-weight: 600;
  font-family: 'kanit', sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #556270;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #2421D2;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: #2421D2;
  display: inline-block;
  padding: 8px 35px 9px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: 'kanit', sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .btn-buy:hover {
  background: #1a17b6;
}
.pricing .featured h3 {
  color: #fff;
  background: #2421D2;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #2421D2;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
#faq{
  background-image: url('../img/bg-faq.jpg');
  background-size: cover;
}
.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid white;
}
.faq .faq-item i {
  color: #dee2e6;
  font-size: 20px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}
.faq .faq-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 10px 28px;
  font-family: 'kanit', sans-serif;
}
.faq .faq-item p {
  font-size: 15px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #f8d1d3;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #556270;
  float: left;
  width: 44px;
  height: 44px;
  background: #edeff1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #556270;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 18px;
  color: #556270;
  font-weight: 300;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #556270;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #2421D2;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #2421D2;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #1a17b6;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}
.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog .entry .entry-title a {
  color: #556270;
  transition: 0.3s;
}
.blog .entry .entry-title a:hover {
  color: #2421D2;
}
.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #c1c8d0;
}
.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}
.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.blog .entry .entry-meta a {
  color: #777777;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
}
.blog .entry .entry-content p {
  line-height: 24px;
}
.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #2421D2;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}
.blog .entry .entry-content .read-more a:hover {
  background: #df3740;
}
.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog .entry .entry-content blockquote p {
  color: #556270;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
}
.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #556270;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}
.blog .entry .entry-footer i {
  color: #a4afba;
  display: inline;
}
.blog .entry .entry-footer a {
  color: #606f7e;
  transition: 0.3s;
}
.blog .entry .entry-footer a:hover {
  color: #2421D2;
}
.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.blog .entry .entry-footer .cats li {
  display: inline-block;
}
.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.blog .entry .entry-footer .tags li {
  display: inline-block;
}
.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}
.blog .entry .entry-footer .share {
  font-size: 16px;
}
.blog .entry .entry-footer .share i {
  padding-left: 5px;
}
.blog .entry-single {
  margin-bottom: 30px;
}
.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}
.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #556270;
}
.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}
.blog .blog-author .social-links a {
  color: rgba(85, 98, 112, 0.5);
  margin-right: 5px;
}
.blog .blog-author p {
  font-style: italic;
  color: #b7b7b7;
}
.blog .blog-comments {
  margin-bottom: 30px;
}
.blog .blog-comments .comments-count {
  font-weight: bold;
}
.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}
.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}
.blog .blog-comments .comment .comment-img img {
  width: 60px;
}
.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #556270;
  transition: 0.3s;
}
.blog .blog-comments .comment h5 a:hover {
  color: #2421D2;
}
.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #556270;
}
.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}
.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #6b7b8d;
  margin-bottom: 5px;
}
.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}
.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}
.blog .blog-comments .reply-form p {
  font-size: 14px;
}
.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #e9797f;
}
.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #e9797f;
}
.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}
.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #556270;
}
.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #606f7e;
}
.blog .blog-pagination {
  color: #8795a4;
}
.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}
.blog .blog-pagination li a {
  color: #556270;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #2421D2;
}
.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}
.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #556270;
  position: relative;
}
.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}
.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}
.blog .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}
.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #2421D2;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.blog .sidebar .search-form form button i {
  line-height: 0;
}
.blog .sidebar .search-form form button:hover {
  background: #de323c;
}
.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}
.blog .sidebar .categories ul a {
  color: #556270;
  transition: 0.3s;
}
.blog .sidebar .categories ul a:hover {
  color: #2421D2;
}
.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}
.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}
.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}
.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
  color: #556270;
  transition: 0.3s;
}
.blog .sidebar .recent-posts h4 a:hover {
  color: #2421D2;
}
.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
.blog .sidebar .tags {
  margin-bottom: -10px;
}
.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .tags ul li {
  display: inline-block;
}
.blog .sidebar .tags ul a {
  color: #96a2af;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid white;
  display: inline-block;
  transition: 0.3s;
}
.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #2421D2;
  background: #2421D2;
}
.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #fbfbfc;
  font-size: 14px;
}
/*--------------------------------------------------------------
# what-we-do
--------------------------------------------------------------*/
#what-we-do{
  background-image: url('../img/bg-fur.png');
  background-size: cover;
  background-position: center;
}

#what-we-do h2,#what-we-do h4,#what-we-do p {
  color: #fff;
}
#what-we-do h4 {
  font-size: 22px;
  font-weight: 400;
}
#what-we-do p {
  font-size: 18px;
  font-weight: 300;
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}
.faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq .faq-list li + li {
  margin-top: 15px;
}
.faq .faq-list li {
  padding: 25px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: 'kanit', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #2421D2;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list ul {
  margin-bottom: 0;
  padding: 15px 30px 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
}
.faq .faq-list p ,.faq .faq-list ul li p {
  padding: 15px 30px 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}
.faq .faq-list a.collapsed:hover {
  color: #2421D2;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .faq .faq-list ul li p{
    padding: 15px 0 0;
  }
  .faq .faq-list ul {
    margin-bottom: 0;
    padding: 15px 5px 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0;
  color: #2421D2;
  font-size: 16px;
  box-shadow: 0px -2px 15px rgb(0 102 255 / 5%)
}
#footer .footer-top {
  /* background: #f8fcff; */
  padding: 60px 0 30px 0;
  /* box-shadow: 0px -5px 30px rgba(0, 68, 255, 0.07); */
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'kanit', sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #556270;
  line-height: 1;
  padding: 6px 0;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  width: 35px;
  height: 35px;
  transition: 0.3s;
  border: 1px solid #556270;
}
#footer .footer-top .social-links a:hover {
  background: #2421D2;
  border: 1px solid #2421D2;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #556270;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #556270;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-weight: 300;
}
#footer .footer-top .footer-links ul a:hover {
  color: #1613b6;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #2421D2;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #df3740;
}
#footer .copyright {
  text-align: center;
  /* padding-top: 30px; */
  color: #727981;
  font-weight: 300;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
#footer .credits a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  font-weight: 600;
}
#footer .credits a:hover {
  color: white;
}
#abouts {
  background-image: url(../img/session-7.jpg);
  background-color: #171717;
  background-position: -485px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 330px;
}
.card-ex{
  padding: 0;
  background-color: transparent;
}
.pr4{
  padding-right: 60px;
}
@media (max-width: 1200px) {
  .pr4{
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .pr4{
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  #abouts {
    background-image: url('../img/session-7.jpg');
    background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-ex{
    padding: 25px 25px;
    background-color: rgba(18, 52, 165, 0.9);
    border-radius: 5px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  #abouts {
    background-image: url('../img/session-7.jpg');
    background-position: 45%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#banner{
  background-image: url('../img/bg-from.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  #banner{
    background-image: url('../img/bg-from.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    background-position: 70% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner:before {
    content: "";
    background: rgba(30, 38, 51, 0.25);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 25vh;
    z-index: 1;
  }
}

      /*-----------------------------------------------------------------------------------*/
/* Cookie
/*-----------------------------------------------------------------------------------*/
.cover-cookie-card {
  background-color: #fff;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  align-items: center;
  flex-direction: row;
  margin: 0.8em;
  padding: 1.1em;
  /* border-width: 1px;
  border-style: solid; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  line-height: 29px !important;
  color: #2421D2;
  overflow: hidden;
  position: fixed;
  transition: opacity 1s ease 0s;
  z-index: 9999;
  font-weight: 100;
  font-size: 16px;
  box-shadow: -4px 3px 10px 0px rgba(28, 42, 87, 0.2);
}
.cookie-card-pic {
  width: 6%;
  height: auto;
}
.cover-cookie-card span.t1 {
  display: block;
  flex: 1 1 auto;
  margin-right: 1em;
  max-width: 100%;
  line-height: 1.5;
  margin-left: 15px;
}
.cover-cookie-card span.t1 a {
  color: #2421D2;
  transition: 0.25s;
  font-weight: 500;
}
.cover-cookie-card span.t1 a:hover {
  color: #1411a5;
  transition: 0.25s;
}
.bt-accept-cookie a.accept {
  font-weight: normal;
  line-height: 29px !important;
  font-size: 17px;
  color: #fff;
  background-color: #2421D2;
  padding: 10.5px 50px;
  height: 45px;
  margin-right: 20px;
  transition: 0.25s;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bt-accept-cookie a.accept:hover {
  background-color: #1411a5;
  color: #fff;
  transition: 0.25s;
}
.bt-accept-cookie a.accept:active, .bt-accept-cookie a.accept:focus {
  outline: none;
  border: none;
}
/* cookies policy */
.a-cookies-policy {
  color: #2421D2;
  transition: 0.25s;
}
.a-cookies-policy:hover {
  color: #1411a5;
  transition: 0.25s;
}
@media (max-width: 1024px) {
  .cookie-card-pic {
    width: 10%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .cover-cookie-card {
      display: block;
      margin: auto;
  }
  .cover-cookie-card span.t1 {
      max-width: 100%;
      margin-bottom: 15px;
      text-align: center;
      margin-right: 0px;
      padding: 3px 15px 3px 15px;
      font-size: 14px;
  }
  .cookie-card-pic {
      width: 15%;
      height: auto;
      display: block;
      margin: auto;
  }
  .cookie-card-pic {
      margin-bottom: 10px;
      margin-top: 0px;
  }
  .bt-accept-cookie {
      text-align: center;
  }
  .bt-accept-cookie a.accept {
      margin-right: 0px;
      font-size: 14px;
  }
}

@media (max-width: 545px) {
  .cover-cookie-card span.t1 {
      max-width: 100%;
      padding-right: 0px;
      margin-bottom: 15px;
  }
  .cover-cookie-card {
      padding: 15px 0px 20px 5px;
  }
  .cookie-card-pic {
      margin: auto;
      width: 30%;
      margin-bottom: 10px;
  }
  .cover-cookie-card span.t1 {
      max-width: 100%;
      margin-bottom: 15px;
      text-align: center;
      margin-right: 0px;
      padding: 3px 15px 3px 15px;
      font-size: 14px;
      color: #282828 !important;
  }
  .bt-accept-cookie {
          text-align: center;
  }
  .bt-accept-cookie a.accept {
      margin-right: 0px;
      font-size: 14px;
  }
}

#sub-cookies_policy {
  margin-bottom: 60px;
}
#sub-cookies_policy .section-text-head.sub .text-2 {
  text-align: left;
  line-height: 1.5;
  font-size: 24px;
  color: #282828 !important;
}
#sub-cookies_policy .section-text-head .text-2 span {
  color: #ffffff;
}
#sub-cookies_policy .text-sub-p.b {
  margin-top: 30px;
  margin-bottom: 6px;
}
#sub-cookies_policy .text-sub-p.b b {
  color: #282828 !important;
}
#sub-cookies_policy .text-sub-p b {
  color: #ffffff;
}
#sub-cookies_policy dl dt {
  float: left;
}
#sub-cookies_policy dl dd {
  padding-left: 80px;
}
